body, html{
    align-items: center;
    background-color: #212321;
    color: beige;
    display: grid;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    padding: 0;
    margin: 0;
}


.navBar{
    list-style: none;
    display: flex;
    font-size: 25px;
    height: 5rem;
    justify-content: end;
    align-items: center;  
    bottom: 0;
    top: 0;
    background-color: transparent;
    backdrop-filter: blur(5px);
    position: sticky;
}
.btnNav{
    background-color: rgba(219, 219, 223, 0);
    border: none;
    color: inherit;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    width: 8rem;
    height: 3rem;
    border-radius: 8px;
    cursor: pointer;
}

button{
    background-color: rgba(219, 219, 223, 0.06);
    border: none;
    color: inherit;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    width: 12rem;
    height: 3rem;
    border-radius: 8px;
    cursor: pointer;
}

h1{
    text-align: center;
    font-size: 4rem;
}

.customHeader{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public/Img2.jpeg');
    height: 40rem;
    margin-bottom: 5%;
}


.mainText{
    background-color: #21232141;
    margin: 5rem;
    padding: 2rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:2vh;
}


#goShopBtn:hover{
    background-color: aliceblue ;
    color: #212321;
    transition: ease-in-out 0.5s;
}
button:hover{
    background-color: aliceblue ;
    color: #212321;
    transition: ease-in-out 0.5s;
}
.Card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: aqua; */
    width: 20rem;
    border: solid rgba(255, 255, 255, 0.146) 1px;
    border-radius: 5px;
    /* margin-bottom: 10%; */
}
.Card:hover{
    background-color: aliceblue;
    color: #212321;
    transition: ease 0.5s;
    box-shadow: white 2px 2px 10px;
}

.titleCard{
    text-align: center;
    font-size: 2rem;
}
.sectionCards{
    display: grid;
    /* flex-direction: column; */
    align-items: center;
}
.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.customFooter{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:5%;
    border-top: solid rgba(255, 255, 255, 0.181) 1px;
    gap: 10rem;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

#root{
    display: grid;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* styles for product page */
.mainContainerPageProducts{
 padding: 0;
 margin: 0;
 top: 0 ;
 bottom: 0;
}

.headerPageProducts{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public/img1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 20em;
    position: sticky;
    margin-bottom: 5%;
    width: 90rem;   
    bottom: 12rem;

    }

    .textHeaderProducts{
        display: flex;
        align-items: center;
        background-color: transparent;
        backdrop-filter: blur(10px);
        /* width: 20em; */
        height: 15em;
        border: solid grey 2px;
        padding: 3%;
        border-radius: 2vh;
        position: relative;
        z-index: 1;
    }

    .container{
        display: flex;
        justify-content: center;
        
    }
    .asideBar{
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 8%;
    }
.containerCards{
    display: flex;
    gap: 4rem;
}